@import url("https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&display=swap");
:root {
  --color-one: #f8f8f8;
  --color-two: #337ab7;
  --color-text: #333333;
}

* {
  font-family: Oswald, sans-serif;
  color: var(--color-text);
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
  margin: 0;
}
