/* header */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.247);
  z-index: 9999;
}
.inner-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.inner-main .inner-logo img {
  width: 100px;
}

.inner-main .inner-menu ul {
  display: flex;
  align-items: center;
  padding: 31.6px 20px;
}

.inner-main .inner-menu li {
  margin-left: 20px;
}

.inner-main .inner-menu li a {
  font-weight: 500;
  font-size: 25px;
  text-transform: uppercase;
  color: var(--color-text);
  text-decoration: none;
  padding: 31.6px 20px;
}

.inner-main .inner-menu ul li:hover a {
  background-color: var(--color-one);
  color: var(--color-two);
}
/* End header */

/* Box head */
.box-head {
  margin-bottom: 50px;
}
.box-head .inner-title {
  color: #fff;
  font-size: 45px;
  text-transform: uppercase;
  display: inline-block;
  padding-bottom: 20px;
  position: relative;
}

.box-head .inner-title::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  border: 3px solid var(--color-two);
}
/* End Box head */

/* Button */
.button {
  text-align: center;
  font-size: 18px;
  color: var(--color-one);
  width: 100%;
  background: linear-gradient(to right, #014375 0%, #1e6fa1 51%, #3081b1 100%);
  overflow: hidden;
  border-radius: 8px;
  cursor: pointer;
  position: relative;
}
.button:hover {
  background: linear-gradient(to right, #0a64a7 0%, #258dcf 51%, #3db1f3 100%);
}

.button-two {
  background: linear-gradient(to right, #014375 0%, #1e6fa1 51%, #3081b1 100%);
}

.button-two:hover {
  background: linear-gradient(to right, #0a64a7 0%, #258dcf 51%, #3db1f3 100%);
}

/* End Button */

/* Section-one */
.section-one {
  padding: 100px 0;
  margin-top: 100px;
}

.section-one .inner-tag {
  font-size: 30px;
  font-weight: 400;
  margin-bottom: 30px;
}
.section-one .inner-tag .hl {
  color: var(--color-two);
}

.section-one .inner-image {
  position: relative;
}

.section-one .image1 {
  width: 100%;
  border-radius: 10px;
}

.section-one .inner-image .image2 {
  position: absolute;
  top: 10px;
  left: 10px;
}

.section-one .inner-head .inner-title {
  font-size: 40px;
  margin-bottom: 20px;
  text-transform: capitalize;
}

.section-one .inner-head .inner-desc {
  font-size: 18px;
  margin-bottom: 15px;
}

.section-one .inner-list .inner-item {
  font-size: 18px;
  display: flex;
  margin-bottom: 8px;
}

.section-one .inner-item .inner-title {
  width: 30%;
}

.section-one .inner-item .inner-desc {
  width: 70%;
}

.section-one .inner-button {
  width: 400px;
  display: flex;
  justify-content: space-between;
}

.section-one .inner-button .button {
  width: 47%;
  padding: 5px 0;
}

.section-one .inner-button a {
  text-decoration: none;
  color: var(--color-one);
  font-size: 25px;
  font-weight: 500;
  padding: 5px 60px;
}

/* End Section-one */

/* Section-two */
.section-two {
  background-color: var(--color-three);
  padding: 100px 0;
  text-align: center;
}

.section-two .inner-trailer {
  aspect-ratio: 16/9;
  object-fit: cover;
  width: 80%;
  height: auto;
  margin: 0 auto;
}

.section-two .inner-trailer iframe {
  width: 100%;
  height: 100%;
  border: 1px solid #fff;
  margin-bottom: 50px;
}

.section-two .inner-content .inner-avt {
  width: 100%;
}
.section-two .inner-comment {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 30px 0;
  border-top: 2px solid #ffffff58;
  border-bottom: 2px solid #ffffff58;
}

.section-two .inner-content {
  width: 100%;
  margin-left: 10px;
  margin-bottom: 0;
}

.section-two .inner-content textarea {
  width: 100%;
  min-height: 100px;
  max-height: 100px;
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 10px;
}

.section-two .inner-content .button {
  margin: 0 auto;
}
/* End Section-two */

/* Footer */
footer {
  background-color: var(--color-one);
  padding: 50px 0;
}

footer .inner-box {
  margin-bottom: 30px;
}

footer .inner-box .inner-logo img {
  width: 120px;
  margin-top: -25px;
}

footer .inner-list {
  margin-left: 15px;
}

footer .inner-list ul li:hover {
  color: var(--color-two);
  cursor: pointer;
}

footer .inner-title {
  color: var(--color-two);
  padding-bottom: 5px;
  margin-bottom: 25px;
  position: relative;
  display: inline-block;
}
footer .inner-title::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  border: 2px solid var(--color-two);
}

footer .inner-social ul {
  display: flex;
}
footer .inner-social li i {
  font-size: 30px;
  margin-right: 20px;
  color: gray;
}

footer .inner-social li:hover i {
  color: var(--color-two);
}

footer .inner-tb {
  width: 80%;
  margin-left: -20px;
  margin-top: 20px;
}

footer .inner-tb img {
  width: 100%;
}

footer .inner-hotline p:last-child {
  margin: 0;
}
/* End Footer */
